.wrapper{
	padding: 15px;
	max-width: 500px;
	margin: 0 auto;
}

.progress-n {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-n {
	transition: 0.3s;
}

.progressNo_0{
	width: 0%;
	height: 20px;
	border-radius: 4px;
	background-color: blue;
	transition: 0.3s;
}

.progressNo_1{
	width: 20%;
	height: 20px;
	border-radius: 4px;
	background-color: blue;
	transition: 0.3s;
}

.progressNo_2{
	width: 40%;
	height: 20px;
	border-radius: 4px;
	background-color: blue;
	transition: 0.3s;
}

.progressNo_3{
	width: 60%;
	height: 20px;
	border-radius: 4px;
	background-color: blue;
	transition: 0.3s;
}

.progressNo_4{
	width: 80%;
	height: 20px;
	border-radius: 4px;
	background-color: blue;
	transition: 0.3s;
}

.progressNo_5{
	width: 100%;
	height: 20px;
	border-radius: 4px;
	background-color: blue;
	transition: 0.3s;
}

.form-control-none {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,
	-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,
	box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control-bad {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ff0000;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgb(255, 0, 0);
	-webkit-transition:border-color ease-in-out .15s,
	-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,
	box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control-good {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #00720a;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgb(0, 181, 24);
	-webkit-transition:border-color ease-in-out .15s,
	-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,
	box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}