<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW2</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sample">
			<div v-if="pg">
				<form>
					<div class="progress-n">
						<div class="progress-bar-n">
							<div :class="[progressNo]"></div>
						</div>
					</div>
					<div>
						<cinput v-for="(el, i) in info" :key="i"
								:maintext="el.text"
								:indtxt="el.indtext"
								:reg="el.reg"
								@senddata = "receiveData"></cinput>
					</div>
				</form>
				<button class="btn btn-primary" :disabled='isBarBlocked' v-on:click="pg = !pg">
					Send Data
				</button>
			</div>
			<div v-else>
				<table class="table table-bordered">
					<tr>
						<th>Name</th>
						<td>{{ userData['name'] }}</td>
					</tr>
					<tr>
						<th>Phone</th>
						<td>{{ userData['phone'] }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ userData['email'] }}</td>
					</tr>
					<tr>
						<th>Some Field 1</th>
						<td>{{ userData['sf1'] }}</td>
					</tr>
					<tr>
						<th>Some Field 2</th>
						<td>{{ userData['sf2'] }}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
	<script>

	Vue.component('cinput', {
				props: ['maintext', 'reg', 'indtxt'],
				template: `
					<div class="form-group">
	                    <label>{{maintext}}<img v-if="K" :src="[isContactImg]" class="ok_img"/></label>
	                    <input type="text" v-on:input="controlText($event.target.value)" :class="[isContactStyle]">
	                </div>
				`,
				data(){
					return {
						K: false,
						isContactImg: "",
						text: "",
						isContactStyle: "form-control-none",
						isContact : "false",
						isContactImg: "",
					}
				},
				methods: {
					controlText(s){
						this.text = s
						this.K = true
						if ((this.reg).test(this.text)){
							this.isContact = true
							this.isContactStyle = "form-control-good"
							this.isContactImg = "./images/ok.svg"
							this.sendPack()
							console.log(this.isContact + "//")
						}
						else {
							this.isContact = false
							this.isContactStyle = "form-control-bad"
							this.isContactImg = "./images/not_ok.png"
							this.sendPack()
							console.log(this.isContact + "//")
						}
						},
					sendPack(e){
						this.$emit('senddata', this.indtxt , this.isContact, this.text);
					}
				}
			});
		
		new Vue({
			el: '.sample',
			data: {
				userData: {'name': "", 'phone': "", 'email': "", 'sf1': "", 'sf2': ""},
				isBarBlocked: true,
				pg: true,
				progressNo: "progressNo_0",
				spn: 0,
				isContact: {'name' : false, 'phone' : false, 'sf1' : false, 'sf2' : false, 'email' : false},
				info : [
					{
						text: "Name",
						indtext: "name",
						reg: /^[a-zA-Z ]{2,30}$/,
					},
					{
						text: "Phone",
						indtext: "phone",
						reg: /^[0-9]{7,14}$/,
					},
					{
						text: "Email",
						indtext: "email",
						reg: /.+/,
					},
					{
						text: "Some Field 1",
						indtext: "sf1",
						reg: /.+/,
					},
					{
						text: "Some Field 2",
						indtext: "sf2",
						reg: /.+/,
					},
				]
			},

			beforeCreate() {
				this.isContactFirst = {'name' : false, 'phone' : false, 'sf1' : false, 'sf2' : false, 'email' : false}
			},
			methods: {
				chngFieldsNo(){
					this.progressNo = "progressNo_"
					this.progressNo = this.progressNo + this.spn
					console.log(this.isContactFirst['name'])
					console.log(this.isContactFirst['email'])
				},
				findNumOfTrue(){
					this.spn = 0
					this.isContact['name'] ? this.spn += 1 : this.spn += 0
					this.isContact['phone'] ? this.spn += 1 : this.spn += 0
					this.isContact['sf1'] ? this.spn += 1 : this.spn += 0
					this.isContact['email'] ? this.spn += 1 : this.spn += 0
					this.isContact['sf2'] ? this.spn += 1 : this.spn += 0
				},
				receiveData(ist, s, str){
					this.isContact[ist] = s
					this.userData[ist] = str
					this.findNumOfTrue()
					this.chngFieldsNo()
					this.spn === 5 ? this.isBarBlocked = false : this.isBarBlocked = true
				}
			}
		});
	</script>
</body>
</html>