@font-face {

	font-family: 'MainFont'; 
	src: url(./fonts/Comfortaa-VariableFont_wght.ttf); 

}

*{
    font-size: 20px;
    font-family: 'MainFont';
    color: rgb(37, 0, 147);
    font-weight: bold;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
input {
    width: 300px;
    color: black;
    font-weight: normal;
    height: 25px;
    font-size: 20px;
}

.pg_1 {
    position: absolute;
    margin-left: 40%;
    width: 50%;
}

label {
    display: block;
}

.section{
    display: block;
    width: 45%;
    margin-top: 15px;
}

.image-button {
    width: 45px;
    height: 45px;
    border: none;
    /*background-color: white;*/
    background-color:rgba(255, 255, 255, 0);
    background-image: url('./images/add.png');
    background-size: cover;
    border-radius: 50%;
    transition: 0.5s;
  }

  .image-button:hover {
    transform: scale(1.2);
  }

  #add_div {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .gest {
    margin-top: 10px;
  }

  #send_btn {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    color: azure;
    background-color: rgb(37, 0, 147);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
  }

  #send_btn:hover{
    background-color: rgb(108, 25, 255);
  }

  #reset_btn {
    width: 48px;
    height: 48px;
    border: none;
    background-color:rgba(255, 255, 255, 0);
    background-image: url('./images/return.png');
    background-size: cover;
    border-radius: 50%;
    transition: 0.5s;
  }

  #reset_btn:hover {
    transform: scale(1.2);
  }

  .all_done {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .done_table {
    width: 800px;
    /*border-collapse: collapse;*/
    border: 1px solid silver;
    border-radius: 5px;
    margin-left: 25%;
  }

  .done_table tr {
    border: 1px solid silver;
  }

  .done_table td {
    border: 1px solid silver;
    border-radius: 5px;
  }

  .done_table th {
    border: 1px solid silver;
    width: 250px;
    border-radius: 5px;
  }

  .main_el {
    height: 30px;
  }

  #gest_el {
    height: 100px;
  }

  #gest_el table {
    width: 500px;
    height: auto;
    margin-left: 4%;
  }

  #gest_el table td {
    height: 25px;
  }

  .red {
    width: 50px;
    height: 50px;
    background-color: red;
  }

  .blue {
    width: 50px;
    height: 50px;
    background-color: blue;
  }
