<!doctype html>
<!-- This document illustrates the creation and use of integrated components.
	 Shows working with props and emits to interact between a component and its parent element -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW5</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script> 
</head>
<body>
    <div class="wrapper">
        <div class="sample">
			<div :class="[clName1]">
				<form>
					<div class="progress-n">
						<div class="progress-bar-n"> <!-- class all width of progress bar (grey + blue) -->
							<div :class="[progressNo]"></div> <!-- class for changig width of progress-bar (only blue) -->
						</div>
					</div>
					<div>
						<!-- using of cinput componrnt with cycle
							 @senddata = "receiveData" - special method for emission
							senddata - name in component (contains emit)
							receiveData - method of main vue for changing main data-->
						<cinput v-for="(el, i) in info" :key="i"
								:maintext="el.text"
								:indtxt="el.indtext"
								:reg="el.reg"
								@senddata = "receiveData"></cinput>
					</div>
				</form>
				<button class="btn btn-primary" v-on:click="chngClName">
					Send Data
				</button>
			</div>
			<div :class = "[clName2]">
				<table class="table table-bordered">
					<tr>
						<th>Name</th>
						<td>{{ userData['name'] }}</td>
					</tr>
					<tr>
						<th>Phone</th>
						<td>{{ userData['phone'] }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ userData['email'] }}</td>
					</tr>
					<tr>
						<th>Some Field 1</th>
						<td>{{ userData['sf1'] }}</td>
					</tr>
					<tr>
						<th>Some Field 2</th>
						<td>{{ userData['sf2'] }}</td>
					</tr>
				</table>
			</div>
			<!-- <button class="btn btn-primary" :disabled='isBarBlocked' v-on:click="chngClName"> -->
		</div>
    </div>
	<script>
	// Creating of component in page-script
	Vue.component('cinput', { //cinput is title of new componrnt
				props: ['maintext', 'reg', 'indtxt'], // props approved for use
				//html-template of new component, used "maintext" from props, 
				//"K", "isContactImg", "ok_img", "isContactStyle" from data of component (see further)
				//"controlText($event.target.value)" from methods of component (see further)
				template: ` 
					<div class="form-group">
	                    <label>{{maintext}}<img v-if="K" :src="[isContactImg]" class="ok_img"/></label>
	                    <input type="text" v-on:input="controlText($event.target.value)" :class="[isContactStyle]">
	                </div>
				`,
				//data-function for local-component values
				data(){
					return {
						K: false,
						isContactImg: "",
						text: "",
						isContactStyle: "form-control-none",
						isContact : "false",
						isContactImg: "",
					}
				},
				//local-component methods
				methods: {
					controlText(s){ //method for changing styles, values of inputs
						this.text = s //changing local-component value
						this.K = true //changing local-component icon display condition
						if ((this.reg).test(this.text)){ //using "reg" from props,
														 //checking the correctness of the entered text using regexp
							this.isContact = true //setting fill truth (used in emit function)
							this.isContactStyle = "form-control-good" //setting good style
							this.isContactImg = "./images/ok.svg" //setting good icon
							this.sendPack() //callback for parent element (using emit) with global changes
											//(correctness of input for progress bar and sendBtn)
						}
						else {
							this.isContact = false //setting fill worth (used in emit function)
							this.isContactStyle = "form-control-bad" //setting bad style
							this.isContactImg = "./images/not_ok.png" //setting bad icon
							this.sendPack()
						}
						},
					//special callback-function, used for communication to parent element 
					sendPack(e){
						//emit - calling a special method to invoke a counter method in the parent component
						// !!! parent -> child => using props
						// !!! child -> parent => using $emit
						//'senddata' - special name for communocation between child and parent: senddata -> receiveData
						//'indtxt', 'isContact', 'text' are passed sequentially to the parent method
						this.$emit('senddata', this.indtxt , this.isContact, this.text);
					}
				}
			});
			
			/*
				userData     - data about user
				isBarBlocked - flag of blocking send-bar
				pg           - flag of number of page
				progressNo: "progressNo_0" - typical name of class for progress-bar (0 - num of correct inputs (this.spn))
				spn          - number of correct inputs 
				isContact    - array of correct-input flags
				info         - inf-array of objects for inputs		
			*/
		new Vue({
			el: '.sample',
			data: {
				userData: {'name': "", 'phone': "", 'email': "", 'sf1': "", 'sf2': ""},
				isBarBlocked: true,
				pg: true,
				clName1 : "main_pg_active",
				clName2 : "pg_passive",
				progressNo: "progressNo_0",
				spn: 0,
				isContact: {'name' : false, 'phone' : false, 'sf1' : false, 'sf2' : false, 'email' : false},
				info : [
					{
						text: "Name",            //title of input
						indtext: "name",         //identifier of input
						reg: /^[a-zA-Z ]{2,30}$/,//regexp to control correctness of input value
					},
					{
						text: "Phone",
						indtext: "phone",
						reg: /^[0-9]{7,14}$/,
					},
					{
						text: "Email",
						indtext: "email",
						reg: /.+/,
					},
					{
						text: "Some Field 1",
						indtext: "sf1",
						reg: /.+/,
					},
					{
						text: "Some Field 2",
						indtext: "sf2",
						reg: /.+/,
					},
				]
			},

			methods: {
				chngFieldsNo(){ //class-computing for progress bar
					this.progressNo = "progressNo_"
					this.progressNo = this.progressNo + this.spn
				},
				findNumOfTrue(){ //counting of correct inputs for progress-bar
					this.spn = 0
					this.isContact['name'] ? this.spn += 1 : this.spn += 0
					this.isContact['phone'] ? this.spn += 1 : this.spn += 0
					this.isContact['sf1'] ? this.spn += 1 : this.spn += 0
					this.isContact['email'] ? this.spn += 1 : this.spn += 0
					this.isContact['sf2'] ? this.spn += 1 : this.spn += 0
				},
				receiveData(ist, s, str){ // ~ this.indtxt , this.isContact, this.text from $emit from sendPack
					this.isContact[ist] = s // changing main isContact array
					this.userData[ist] = str // changing main userData
					this.findNumOfTrue() // controls for progress-bar
					this.chngFieldsNo()
					this.spn === 5 ? this.isBarBlocked = false : this.isBarBlocked = true // control of blocking of bar
				},
				chngClName(){
					this.clName1 = "main_pg_passive"
					this.clName2 = "pg_active"
				}
			}
		});
	</script>
</body>
</html>